*{
    font-size: 2vh;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.imglogo{
    width: 4vh;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh;
    
}
.tittle{
    font-weight: 800;

}
.photo{
    margin: 2vh;
}
.W{
    font-weight: 800;
}
.Sub2{
    margin: 8vh;
    margin-top: 1vh;
    
}
.slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0vh;
    margin-bottom: 5vh;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #BEC0C1;
  margin: 0 5px;
  cursor: pointer;
    }

.active-dot {
    background-color: #1AC3E4;
    width: 15px;
    height: 15px;
}
.sub{
    color: black;
    margin: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.Skip{

        border: none;
        background-color: white;
        position:absolute;
        left: 2vh;
        padding-bottom: 2vh;
        color: grey;
    
}
.Next{
    border: none;
    background-color: white;
    position:absolute;
    right: 2vh;
    margin-bottom: 2vh;
    color: grey;
}