.PaginaBienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-weight: bold;
    font-size: larger;
    z-index: 1;
  }
  
  .imglogo {
    width: 5vh;
  }
  
  .slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .photo {
    margin: 2vh auto;
  }
  
  .sub {
    position: absolute;
    color: black;
    margin: 3vh auto 1vh auto;
  }
  
  .Sub2 {
    position: absolute;
    margin: 1vh auto;
    color: black;
  }
  
  .slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0vh;
    margin-bottom: 5vh;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BEC0C1;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active-dot {
    background-color: #1AC3E4;
    width: 15px;
    height: 15px;
  }
  
  .Skip {
    height: 20vw;
    width: 20vw;
    position: absolute;
    bottom: 2%;
    left: 5%;
    border: none;
    background-color: white;
    color: grey;
  }
  
  .Next {
    height: 20vw;
    width: 20vw;
    position: absolute;
    bottom: 2%;
    right: 20%;
    border: none;
    background-color: white;
    color: grey;
  }