.PaginaBienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  
  .title {
    display: flex;
    align-items: center;
    margin: 10vh;
    color: black;
    font-weight: bold;
    font-size: larger;
  }
  
  .imglogo {
    width: 5vh;
  }
  
  .slide {
    width: 100vw;
    height: 100vw;

  }
  
  .photo {
    margin: 2vh auto;
    height: 60vw;
    width: 60vw;
  }
  
  .sub {
    color: black;
    margin: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
   
  }
  
  .slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0vh;
    margin-bottom: 5vh;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BEC0C1;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active-dot {
    background-color: #1AC3E4;
    width: 15px;
    height: 15px;
  }

.buttons {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}
  
  .Next {
    display: flex;
    align-items: center;
    height: 20vw;
    width: 20vw;
    border: none;
    background-color: white;
    color: grey;
  }
  
  .Skip {
    height: 20vw;
    width: 20vw;
    border: none;
    background-color: white;
    color: grey;
  }
  
 