.volverDiv a {
    text-decoration: none;
    color: #74f5ee;
  }

.productoDiv{
    width: 70%; 
    min-height: 50px;
    height: auto; 
    border: 15px solid grey; 
    border-radius: 20px; 
}

.boton-volver {
    background-color:  #74f5ee;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }