.HeaderRegister{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding: 40px;


.Button_volver{
    display: flex;
    border:none;
    background-color: white;
    color: #1AC3E4;
    font-size: large;
}

}