.paginaCarga{
  *{
    margin: 0;
  }

  h1 {
    color: black;
    font-size: 48px;
  }

  h2 {
    color: grey;;
    font-size: 24px;
  }

  .imagenDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logoDiv {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 40px;
  }
  
  .logoDiv img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
